# Default ignored files
/../../NewsVerifyAI /.idea/shelf/
/../../NewsVerifyAI /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../NewsVerifyAI /.idea/httpRequests/
# Datasource local storage ignored files
/../../NewsVerifyAI /.idea/dataSources/
/../../NewsVerifyAI /.idea/dataSources.local.xml
